{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'bar/navbar_admin.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container row margin">
        <div class="col s12 grey darken-4 z-depth-2">
            <div class="card horizontal grey darken-4">
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <h3>Admin hub</h3>
                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}