<nav class="grey darken-4">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">MyDungeon</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a>News</a></li>
            <li><a>How to use</a></li>
            <li><a class="dropdown-trigger" data-target="group_menu">Mythic+ Groups<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a id="count_request" href="#"><span id="request_result" class="new badge yellow darken-4"></span></a></li>
            <li><a class="dropdown-trigger" href="" data-target='dropdown1'>                         <img style="margin-right:8px;vertical-align:middle;max-height: 42px" src="https://thumbs.dreamstime.com/z/creative-illustration-default-avatar-profile-placeholder-isolated-background-art-design-grey-photo-blank-template-mockup-144849704.jpg" alt="" class="center-align circle responsive-img"> <!-- notice the "circle" class -->
                    {{ app.user.username|slice(0, 5) }}</a></li>
        </ul>
    </div>
</nav>

<ul id='dropdown1' class='dropdown-content'>
    <li><a href="">Profile</a></li>
    <li><a href="">
            {% if app.user.blizzardUser is not defined or app.user.blizzardUser.token is not defined %}
                Sync Blizzard Account
            {% else %}
                Refresh Blizzard Account
            {% endif %}
        </a></li>
    <li><a href="">Settings</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="{{ path('app_logout') }}">Logout</a></li>
</ul>

<ul id='group_menu' class='dropdown-content'>
    <li><a href="">Search Group</a></li>
    <li><a href="">Group List</a></li>
    <li><a href="">Create Group</a></li>
</ul>

<ul class="sidenav" id="mobile-navbar">
    <li><a>News</a></li>
    <li><a>How to use</a></li>
</ul>