
<nav class="grey darken-4">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">My Dungeon</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
            <li><a href="{{ path('app_register') }}">Inscription</a></li>
        </ul>
    </div>
</nav>