<nav class="grey darken-4">
    <div class="nav-wrapper container">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="#" class="brand-logo">Admin Panel</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a>News</a></li>
            <li><a>How to use</a></li>
        </ul>
    </div>
</nav>


<ul class="sidenav" id="mobile-navbar">
    <li><a>News</a></li>
    <li><a>How to use</a></li>
</ul>