<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    <body>
    <div id="request_url" hidden data-url="{{ (path('app_count_request')) }}"></div>
        {% block navbar %}
            {% if app.user  %}
                {% include 'bar/navbar_auth.html.twig' %}
            {% else %}
                {% include 'bar/navbar.html.twig' %}
            {% endif %}
        {% endblock %}

        <div style="min-height: 100vh">


                {% block body %}{% endblock %}
        </div>
        <div id="modal1" class="modal grey darken-4">
            <div class="modal-content grey darken-4 white-text">
            </div>
        </div>
        {% block footer %}
            {% include 'bar/footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{ encore_entry_script_tags('app') }}
<script>
    $(document).on('click', '#count_request', function(){
        let that = $(this);
        console.log("request sended")
        $.ajax({
            url:'{{ (path('app_count_request')) }}',
            type: "POST",
            dataType: "json",
            data: {
            },
            async: true,
            success: function (data)
            {
                console.log("success: "+data)
                $('#request_result').text(data);
                console.log($('#request_result'))

            }
        });
        return false;
    });
</script>
</html>
